.cartDetails{
	text-align: left;
}

.cartTotal{
	margin-top: 40px;
	float: right;
	padding-left: 20px;
	background-color: #fffd;
	border: 1px solid #fddd;
}

.cartTotal :first-child{
	font-weight: bold;
	margin-bottom: 30px;
}

.submit Button{
	border-radius: 0;
	color: #dcdcdc;
	display: block;
	font-size: 20px;
	font-weight: bolder;
	margin-top: 10px;
	padding: 10px 0;
	width: 100%;
}

.total{
 	text-align: left;
}

