.flash{
	-webkit-animation: cssAnimation 4s forwards;
	animation: cssAnimation 4s forwards;
}

@keyframes cssAnimation{
	0% { opacity: 1; }
	90% {opacity: 1;}
	100% {opacity: 0;}
}

@-webkit-keyframes cssAnimation{
	0% { opacity: 1; }
	90% {opacity: 1;}
	100% {opacity: 0;}
}