h1:first-child{
	text-align: center;
}


.category > .header{
	text-decoration: underline;
}

.category img{
	height: 200px;
	width: 100%;
	margin-bottom: 50px;
}

.site {
  background-image: url("../images/desola-lanre-ologun-709897-unsplash.jpg");
  background-position: center;
  background-size: 1050px;
  background-blend-mode: color-burn;
  width: inherit;
  height: 200px;
  margin: 0 -30px;
}


