.login{
	text-align: left;
}

h3{
	font-weight: bold;
}

.submit :first-child{
	width: 100%;
	background-color: blue;
	opacity: 0.6;
	margin: auto;
	color: white;
}

.submit :hover{
	opacity: 0.7;
}
@media only screen and (min-width: 400px){
	.login{
		width: 300px;
		float: right;
		padding: 0 20px
	}
}