
.content{
	margin-bottom: 50px;

}

.footer{
	background-color: #4d342d;
	font-size: 8px;
	color: #dcdcdc;
	position: fixed;
	bottom: 0;
	z-index: 1000;
}


.main{
	height: 100%;
	min-height: 100%;
	font-family: comic-sans-ms;
	font-weight: bold;
}