.top {
	padding: 60px 0 40px 0;
}

.match{
	color: red;
	text-align: center;
}

.submit{
	margin: auto;
	margin-top: 10px;
}


input[type='number']{
	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}

.help{
	font-size: 11px;
	font-weight: lighter;
}