.flash{
	position: absolute;
}

.links {
	margin: 50px 0 0 -20px;
	float: left;
	width: 100%;
}
.links li:hover{
	opacity: 0.9;
}

.links li{
	color: #dcdcdc;
	display: block;
	line-height: 24px;
    font-size: 16px;
	height: 50px;
	list-style-type: none;
	text-decoration: none;
	padding: 20px 20px;
	font-weight: 600px;
	font-family: comic-sans-ms;
	background-color: #4d342d;
	margin-bottom: 5px;
	text-align: left;
}
li:first-child{
	text-decoration: none;
	 color: black;
}


.links li Link::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    left: -150px;
    background-color: #fbb710;
    z-index: 10;
    content: '';
}
*, ::after, ::before {
    box-sizing: border-box;
}

.logo{
	font-family: comic-sans-ms;
	font-weight: 900;
}

.logout{
	background-color: darkred;
	border-radius: 5px;
	color: #dcdcdc;
	font-size: 8px;
	font-weight: bold;
	margin-top: 10px;
	padding: 10px 5px;
	opacity: 0.7;
}

pre{
	background-color: darkblue;
	border: 1px solid blue;
	border-radius: 50%;
	color: #dcdcdc;
	text-transform: uppercase;
	font-size: 18px;
	margin-left: 40px;
	opacity: 0.6;
	width: 50px;
}

.sideNav{
	color: black;
	font-family: cursive;
	font-weight: bolder;
	font-style: italic;
	height: auto;
	min-height: 350px;
	padding: 10px 10px;
	text-decoration: none;
}

ul{
	margin-top: 10px;
}




